@import "variables.sss"

:root
    --white-text-color:
        color: var(--secondary-text-color)

    --small-text:
        font-size: var(--main-small-text-size)

@custom-media --tablet-viewport (max-width: 767px)

@custom-media --mobile-viewport (max-width: 360px)