@import "../global/variables.sss"
@import "../global/mixins.sss"

.partners
    text-align: center
    padding: 0px 48px
    padding-top: 32px

    &__title
        @apply --h2-title-mobile
        margin: 16px 0px

    &__subtitle
        @apply --p-text-mobile

    &__logos
        margin-top: 32px

@media(--tablet-media)
    .partners
        padding: 32px 48px

        &__title
            @apply --h2-title

        &__subtitle
            @apply --p-text